@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Lato:100);

html,
body {
  height: 100%;
  background: #114357;
  background: -webkit-linear-gradient(to left, #114357 , #F29492);
  background: linear-gradient(to left, #114357 , #F29492);
}

body {
  color: #000000;
  text-align: center;
}

.site-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.card-header {
  margin-top: 25px;
}

.card-footer {
  margin-bottom: 25px;
}

img {
  height: 125px;
  width: 125px;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 992px) {
  .cover-container {
    width: 768px;
  }
}