html,
body {
  height: 100%;
  background: #114357;
  background: -webkit-linear-gradient(to left, #114357 , #F29492);
  background: linear-gradient(to left, #114357 , #F29492);
}

body {
  color: #000000;
  text-align: center;
}

.site-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}

i {
  padding: 20px 10px;
}

@media (min-width: 992px) {
  .cover-container {
    width: 768px;
  }
}